name: kakao_flutter_mirror
description: A flutter plugin for Kakao API, which supports Kakao login, KakaoLink, User API, KakaoTalk API, KakaoStory API, and Push API.
version: 1.0.0
homepage: https://github.com/CoderSpinoza/kakao_flutter_mirror
environment:
  sdk: ">=2.6.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  json_annotation: ^3.1.1
  dio: ^3.0.10
  shared_preferences: ^0.5.12+4
  platform: ^2.2.1
  package_info: ^0.4.3+2

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^1.10.0
  json_serializable: ^3.3.0

flutter:

  plugin:
    platforms:
      android:
        package: com.kakao.sdk.flutter
        pluginClass: KakaoFlutterSdkPlugin
      ios:
        pluginClass: KakaoFlutterSdkPlugin
